<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSMicrophoneUsageDescription</key>
    <string>DnDictate needs access to your microphone to record D&D sessions.</string>
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>DnDictate needs access to speech recognition to transcribe your D&D sessions.</string>
    <key>UIBackgroundModes</key>
    <array>
        <string>audio</string>
    </array>
</dict>
</plist> 